<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<header class="bg-dark sticky-top" th:fragment="header">
    <div class="container">
        <!-- 导航 -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- logo -->
            <a class="navbar-brand" th:href="@{/}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 功能 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-3 btn-group-vertical">
                        <a class="nav-link" th:href="@{/}">首页</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical" th:if="${user!=null}">
                        <a class="nav-link position-relative" href="blank">消息<span
                                class="badge badge-danger">12</span></a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical" th:if="${user==null}">
                        <a class="nav-link" th:href="@{/register}">注册</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical" th:if="${user==null}">
                        <a class="nav-link" th:href="@{/login}">登录</a>
                    </li>
                    <li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${user!=null}">
                        <a class="nav-link dropdown-toggle" href="blank" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="${user.headerUrl}" class="rounded-circle"
                                 style="width:30px;"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-center" href="blank">个人主页</a>
                            <a class="dropdown-item text-center" th:href="@{/user/setting}">账号设置</a>
                            <a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item text-center text-secondary" th:utext="${user.username}"></span>
                        </div>
                    </li>
                </ul>
                <!-- 搜索 -->
                <form class="form-inline my-2 my-lg-0" action="blank">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search"/>
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    </div>
</header>

<nav class="mt-5" th:fragment="pagination" th:unless="${page.pageNos.isEmpty()}">
    <ul class="pagination justify-content-center" th:object="${page}">
        <li th:class="|page-item *{current==1?'disabled':''}|">
            <a class="page-link" href="?page=1">首页</a>
        </li>
        <li th:class="|page-item *{current==1?'disabled':''}|">
            <a class="page-link" th:href="|?page=*{current-1}|">上一页</a>
        </li>
        <li th:class="|page-item ${pageNo==page.current?'active':''}|" th:each="pageNo:*{pageNos}">
            <a class="page-link" th:href="|?page=${pageNo}" th:text="${pageNo}">页码</a>
        </li>
        <li th:class="|page-item *{current==last?'disabled':''}|">
            <a class="page-link" th:href="|?page=*{current+1}|">下一页</a>
        </li>
        <li th:class="|page-item *{current==last?'disabled':''}|">
            <a class="page-link" th:href="|?page=*{last}|">末页</a>
        </li>
    </ul>
</nav>

<footer class="bg-dark" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 detail-info">
                <div class="row">
                    <div class="col">
                        <ul class="nav btn-group-vertical company-info">
                            <li class="nav-item text-white-50">
                                联系方式：voidsow@outlook.com&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/voidsow"
                                                                                   style="color: white">github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
